<div class="container">
{{!-- FRONT PAGE --}}
  <nav>Tonguez
  </nav>

  <img src="/assets/images/tonguez_logo_outline.png">
  <form id="login-form">
    <div class="info-form">
      <div class="about-name">
        <h3 class="form-headers">About You</h3>
        <div class="form-group">
          <label for="Name" style="color:antiquewhite">Name (Required)</label>
          <input type="text" class='form-control' id='name' placeholder="Name...">
        </div>
      </div>
      <div class="forms">
        <h3 class="form-headers">What Language Would You Like to Learn?</h3>
        <div class="form-group">

          <select class="selectBox" id = "language-select">
            <option value="">Select a language</option>
            <option value="1">Spanish</option>
            <option value="2">French</option>
            <option value="3">Portuguese</option>
          </select>
        </div>
        <h3 class="form-headers">Select Skill Level</h3>
        <div class="form-group">

          <select class="selectBox">
            <option value="">Level</option>
            <option value="1"> Beginner</option>
            <option value="2"> Intermediate</option>
            <option value="3"> Advanced</option>
          </select>
        </div>
        <button type="button" class="btn btn-info" id="get-started">Lets Get Learning!
        </button>
      </div>
    </div>
  </form>
 
  {{!-- whole chat box --}}
  <div id="chat-page">
    <div class="row form-group">
    
        {{!-- <div class="panel panel-primary"> --}}
          <div class="panel-heading">
            <span class="glyphicon glyphicon-comment"></span> Learn a Language
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-chevron-down"></span>
              </button>
              <ul class="dropdown-menu slidedown">
                <li>
                  <a href="http://www.jquery2dotnet.com">
                    <span class="glyphicon glyphicon-refresh">
                    </span>Refresh</a>
                </li>
                <li>
                  <a href="http://www.jquery2dotnet.com">
                    <span class="glyphicon glyphicon-ok-sign">
                    </span>Available</a>
                </li>
                <li>
                  <a href="http://www.jquery2dotnet.com">
                    <span class="glyphicon glyphicon-remove">
                    </span>Busy</a>
                </li>
                <li>
                  <a href="http://www.jquery2dotnet.com">
                    <span class="glyphicon glyphicon-time"></span>
                    Away</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="http://www.jquery2dotnet.com">
                    <span class="glyphicon glyphicon-off"></span>
                    Sign Out</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="panel-body body-panel">
            <ul class="chat">
            </ul>
          </div>
          {{!-- <div class="panel-footer clearfix"> --}}
            {{!-- <textarea id="message" class="form-control" rows="3"></textarea> --}}
          
             <input type="text" id="message" class="form-control" rows="3">
         <button class="btn btn-warning btn-lg btn-block" id="btn-chat">Send</button>

            {{!-- <span class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12" style="margin-top: 10px">
              <button class="btn btn-warning btn-lg btn-block" id="btn-chat">Send</button>
            </span> --}}
          {{!-- </div> --}}
        {{!-- </div> --}}
          
      </div>
       
    </div>
   
    </div>
    <script  type="text/template" id="new-message-other">
        <li class="left clearfix">
            <span class="chat-img pull-left">
                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
            </span>
            <div class="chat-body clearfix">
                <p>
                    {{body}}
                </p>
            </div>
        </li>
    </script>
    <script type="text/template" id="new-message">
        <li id="{{id}}" class="right clearfix">
            <div class="chat-body clearfix">
                <p>
                    {{body}}
                </p>
            </div>
        </li>
    </script>
  </div>
</div>
    