<div class="container">
  <h1>Learn a language--idk what to put here lol!</h1> 
    <form id="login-form">
      <h3>About You</h3>
        <div class="form-group">
          <label for="Name">Name (Required)</label>
          <input type="text" class='form-control' id='name' placeholder="John Doe">
        </div>

      <h3>What Language Would You Like to Learn?</h3>
        <div class="form-group">
          <select name="quest1" id="quest1">
            <option value="">Select a language</option>
            <option value="1">Spanish</option>
            <option value="2">French</option>
            <option value="3">Portuguese</option>
          </select>
        </div>
      <h3>Select a Difficulty Setting</h3>
        <div class="form-group">
          <select name="quest2" id="quest2">
            <option value="">Select a Difficulty Setting</option>
            <option value="1"> Beginner</option>
            <option value="2"> Intermediate</option>
            <option value="3"> Advanced</option>
          </select>
        </div>
      <button id="get-started" type="submit">Lets Get Learning!</button>
  </form>
<div class="container">
  <div class="col-md-6 chat_box">
    <div class="form-control messages_display"></div>
    <br />
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="input_name form-control" placeholder="Name" />
    </div>
    <div class="form-group">
      <label>Message</label>
      <textarea class="input_message form-control" placeholder="Message"></textarea>
    </div>
    <div class="form-group input_send_holder">
      <input type="submit" value="Send" class="btn btn-primary input_send" />
    </div>
  </div>
</div>
</div>
    