body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: auto 850px;
}

img {
    /* width: 400px; */
    margin-top: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    opacity: 1;
    border-radius: 30px;
}

.selectBox {
    appearance: none;
    -webkite-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    background: #f5f5f5 url('image-path') no-repeat right center;
    border: 1px solid #eeeeee;
    width: 300px;
    height: 40;
    padding: 10px;
}

.about-name {
    text-align: center;
}

.forms {
    text-align: center;
}

nav {
    font-size: 30px;
    font-family: 'Acme', sans-serif;
    color: aliceblue;
    text-align: left
}

.info-form {
    margin: auto;
    width: 500px;
}

.selectBox {
    border-radius: 20px;
}


/* .home-header {
    font-family: 'Acme', sans-serif;
    color: aliceblue
} */

.form-headers {
    font-family: 'Acme', sans-serif;
    color: aliceblue
}

@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    width: 100%;
    border: 3px solid #555;
}

.chat li {
    margin-bottom: 10px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 0px;
    margin: auto;
}

.chat li.right .chat-body {
    margin-right: 0px;
    margin: auto;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
    margin: auto;
}

#chat-page {
    background: white !important;
    opacity: 0.8;
    margin-top: 50px;
    ,
    ,
    kdx2d padding: 0px;
    margin-top: 10px;
    border-radius: 10px;
}


/* .panel-heading {
    background: white !important;
    opacity: 0.3;
    text-align: left;
    
} */

.body-panel {
    overflow-y: scroll;
    height: 250px;
    border: white;
}

html {
    height: 100%;
}

#btn-chat {
    width: 20%;
    background: #F16061;
    border-color: #F16061;
    margin: auto;
    margin-bottom: 20px;
}

span {
    margin-left: 37px;
    margin-top: 2px;
}

input {
    margin: auto;
}

#message {
    width: 500px;
    margin: auto;
    float: left;
    float: inherit;
    margin-bottom: 8px;
}

.panel-heading {
    margin-right: 37px;
}